chunk_uploader/originals/**
chunk_uploader/reconst/**




file_transfer_over_tcp/client/dowloads/**
file_transfer_over_tcp/server/files/**


chunk_manifestation/chunks/**
chunk_manifestation/files/**
chunk_manifestation/reconst/reconstructed/** 